.c{
	border: 2px solid black;
}
table{
	width: 50%;
	height: 100%;
	background-color: green;
	border:2px solid  black;
}
tr th{
	height:4px;
	width: 10px;
	color: yellow;

}
th:hover{

}


.pic{
	border: 3px solid black;
	width: 1000px;
	height: 800px; 
	background-color: lightcoral;
}

.pic1{
	border: 2px solid black;
	width: 450px;
	height: 350px;
	float: right;
}
.pic2{
	border: 2px solid black;
	width: 450px;
	height: 350px;
	float: left;

}
.pic3{
	border: 2px solid black;
	width: 450px;
	height: 350px;
	float: left;
}

.pic4{
	border: 2px solid black;
	width: 450px;
	height: 350px;
	float: right;
}